<div class="col-lg-3 leftside">
	<div class="gambar text-center">
		<img src="/images/jQ-kungfu.jpg" alt="" width="80%" class="img-circle">
	</div>
	<h3 class="text-center">jQuery Kungfu</h3>
	<style>
		.menux {
			/*border: 1px #eee solid;*/
		}
		ul li {
			/*border-bottom: 1px #ccc solid;*/
			padding-bottom: 10px;
			/*padding-left: 30px;*/
		}
	</style>
	<div class="menux">	
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/tutorial/intro">Intro</a></li>
			<li><a href="/tutorial/event-binding">Event Binding</a></li>
			<li><a href="/tutorial/clean-code">Clean Code</a></li>
			<li><a href="/tutorial/dom-traversal">DOM Traversal</a></li>
			<li><a href="/tutorial/video3">Video 3</a></li>
			<li><a href="/tutorial/video4">Video 4</a></li>
			<li><a href="/tutorial/video5">Video 5</a></li>
			<li><a href="/tutorial/video6">Video 6</a></li>
			<li><a href="/tutorial/video7">Video 7</a></li>
			
			<li><a href="/tutorial/video8">Video 8</a></li>
			<li><a href="/tutorial/video9">Video 9</a></li>
			<li><a href="/tutorial/video10">Video 10</a></li>
			<li><a href="/tutorial/video11">Video 11</a></li>
			<li><a href="/tutorial/video12">Video 12</a></li>
			<li><a href="/tutorial/video13">Video 13</a></li>
		</ul>
	</div>	
</div>