<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><strong>jQ Kungfu</strong></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul> -->
      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#learning">Learning Materials</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Part 1<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="tutorial/carakerja-jq">Cara Kerja jQ</a></li>
            <li><a href="tutorial/event-binding">Event Binding</a></li>
            <li><a href="tutorial/clean-code">Write Clean Code</a></li>
            <li><a href="tutorial/dom-traversal">DOM Traversal</a></li>
            <li><a href="tutorial/video3">Bab 3</a></li>
            <li><a href="tutorial/video4">Bab 4</a></li>
            <li><a href="tutorial/video5">Bab 5</a></li>
            <li><a href="tutorial/video6">Bab 6</a></li>
            <li><a href="tutorial/video7">Bab 7</a></li>
            <li><a href="tutorial/video8">Bab 8</a></li>
            <li><a href="tutorial/video9">Bab 9</a></li>
            <li role="separator" class="divider"></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Part 2<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="tutorial/intro">Intro</a></li>
            <li><a href="tutorial/event-binding">Event Binding</a></li>
            <li><a href="tutorial/clean-code">Write Clean Code</a></li>
            <li><a href="tutorial/dom-traversal">DOM Traversal</a></li>
            <li><a href="tutorial/video3">Bab 3</a></li>
            <li><a href="tutorial/video4">Bab 4</a></li>
            <li><a href="tutorial/video5">Bab 5</a></li>
            <li><a href="tutorial/video6">Bab 6</a></li>
            <li><a href="tutorial/video7">Bab 7</a></li>
            <li><a href="tutorial/video8">Bab 8</a></li>
            <li><a href="tutorial/video9">Bab 9</a></li>
            <li role="separator" class="divider"></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Part 3<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="tutorial/video1">Bab 1</a></li>
            <li><a href="tutorial/video2">Bab 2</a></li>
            <li><a href="tutorial/video3">Bab 3</a></li>
            <li><a href="tutorial/video4">Bab 4</a></li>
            <li><a href="tutorial/video5">Bab 5</a></li>
            <li><a href="tutorial/video6">Bab 6</a></li>
            <li><a href="tutorial/video7">Bab 7</a></li>
            <li><a href="tutorial/video8">Bab 8</a></li>
            <li><a href="tutorial/video9">Bab 9</a></li>
            <li><a href="tutorial/video10">Bab 10</a></li>
            <li><a href="tutorial/video11">Bab 11</a></li>
            <li><a href="tutorial/video12">Bab 12</a></li>
            <li><a href="tutorial/video13">Bab 13</a></li>
            <li><a href="tutorial/video14">Bab 14</a></li>
            <li><a href="tutorial/video15">Bab 15</a></li>
            <li role="separator" class="divider"></li>
          </ul>
        </li>
        <li><a href="#"><p data-toggle="modal" data-target="#myModal">Contact</p></a></li>
        <li><img src="http://res.cloudinary.com/medio/image/upload/c_scale,w_50/v1451455310/dyo-eb_fmqbxn.jpg" alt="" class="img-circle" style="padding-top:3px; padding-right:5px; margin-left:-5px"></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>