<h1 class="title-chapter">Write Clean Code</h1>

<h2>Do not DRY do One Line for all</h2>
<p>Kita akan membuat target dengan atribut, dengan menambahkan <code>data-..</code> sebagai atribut</p>
<br>
<style>
	#panel1 {
		cursor: pointer;
	}
</style>

<div class="container">
	<div class="row">
		<button class="panel-button" data-panelid="panel1">button1</button>
		<button class="panel-button" data-panelid="panel2">button2</button>
		<button class="panel-button" data-panelid="panel3">button3</button>
		<button class="panel-button" data-panelid="panel4">button4</button>
		<button class="panel-button" data-panelid="panel5">button5</button>
		<button class="panel-button" data-panelid="panel6">button6</button>
	</div>
</div>

<br>
<div class="row">
	<div class="col-md-2">
		<div id="panel1" class="panel panel-primary">
			<div class="panel-heading">
				Panel1
			</div>
			<div class="panel-body">
				Content1			
			</div>	
		</div>
	</div>
	<div class="col-md-2">
		<div id="panel2" class="panel panel-primary">
			<div class="panel-heading">
				Panel2
			</div>
			<div class="panel-body">
				Content2			
			</div>	
		</div>
	</div>
	<div class="col-md-2">
		<div id="panel3" class="panel panel-primary">
			<div class="panel-heading">
				Panel3
			</div>
			<div class="panel-body">
				Content1			
			</div>	
		</div>
	</div>
	<div class="col-md-2">
		<div id="panel4" class="panel panel-primary">
			<div class="panel-heading">
				Panel4
			</div>
			<div class="panel-body">
				Content4			
			</div>	
		</div>
	</div>
	<div class="col-md-2">
		<div id="panel5" class="panel panel-primary">
			<div class="panel-heading">
				Panel5
			</div>
			<div class="panel-body">
				Content5			
			</div>	
		</div>
	</div>
	<div class="col-md-2">
		<div id="panel6" class="panel panel-primary">
			<div class="panel-heading">
				Panel6
			</div>
			<div class="panel-body">
				Content6			
			</div>	
		</div>
	</div>
</div>	

<script>
	$('document').ready(function() {
		$('.panel-button').on('click', function() {
			
			var panel = $(this).attr('data-panelid');
			// merubah content
			var content = "My new awesome content";
			// alert(panelId);
			$('#' + panel).toggle();
			$('#' + panel + ' .panel-body').html(content); 
		});
	})
</script>