<h1 class="title-chapter" >Video 2 - Evanto</h1>

<style>
	.emphasis { font-weight: bold;}
</style>

<script>
	$(document).ready(function(){
		$('li:first-child').addClass('emphasis')	
	})
</script>

<ul>
	<li>hello1</li>
	<li>hello2</li>
	<li>hello3</li>
</ul>

<p>
Intinya gunaka document ready function agar jQuery bekerja (triger) setelah menyorot dari atas ke bawah halaman selesai;
</p>
<pre>
$(document).ready(function(){
	$('li:first-child').addClass('emphasis')	
})
</pre>

<p>next video 2 >></p>