<h1 class="title-chapter" >Video 6 - Penggunaan Bind, Live, On dsb</h1>

Bind, Live, Delegate adalah old fashion method, untuk project sekarang lebih baik menggunakan on method, yang fungsi nya sama seperti diatas...

