<h1 class="title-chapter" >Video 7 - Creating & Appending Content ke dalam DOM</h1>

<h2>Contoh Article</h2>

<article>
	<h1>My Post of Article</h1>
	<p>
		"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
	</p>
	<p>
		Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
	</p>
</article>
<br>
<pre>
&lt;article&gt;
&lt;h1&gt;My Post of Article&lt;/h1&gt;
&lt;p&gt;
"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
&lt;/p&gt;
&lt;p&gt;
Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
&lt;/p&gt;
&lt;/article&gt;
</pre>
<br>

<p>Contoh menampbahkan append method</p>

<pre>
&lt;script&gt;	
(function() {
	$('article').append('Hello aku belajar jQuery')
})();
&lt;/script&gt;
</pre>

<p>prepend menambahkan append method diatas article, lihat contoh:</p>

<pre>
&lt;script&gt;	
(function() {
	$('article').prepend('Hello aku belajar jQuery')
})();
&lt;/script&gt;
</pre>

<p>Menambahkan di <code>&lt;h1&gt;</code> atau setelah <code>&lt;h1&gt;</code> menambahkan append method diatas article, lihat contoh:</p>

<pre>
&lt;script&gt;	
(function() {
	$('h1').after('Hello aku belajar jQuery')
})();
&lt;/script&gt;
</pre>

<p>Menambahkan tittle h3 baru dan menambahkan class</p>

<pre>
&lt;script&gt;	
(function() {
	$('&lt;h3&gt;..&lt;/h3&gt;', {
		text: 'saya menambah h3 baru',
		class: 'myClass'
	})
})();
&lt;/script&gt;
</pre>




<script>	
(function() {
	//-1- $('p').first().before('Hello aku belajar jQuery');
	$('<h2></h2>', {
		text: 'Saya menambahkan h3 baru',
		class: 'myClass'
	} ).insertAfter('h1');

})();
</script>

